<%= form_for @classroom do |form| %>
  <p>
    <%= form.label :standard %><br>
    <%= form.text_field :standard %>
  </p>
  <p>
    <%= form.label :no_of_students %><br>
    <%= form.text_area :no_of_students %>
  </p>
  <p>
    <%= form.submit "Add" %>
  </p>
<% end %>