<%= form_for @school.subjects.build do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :subject_duration %><br>
    <%= form.text_area :subject_duration %>
  </p>

  <%= form.hidden_field :school_id, :value => @school_id %>
  <%= form.hidden_field :classroom_id, :value => @school.classroom_ids %>
  <%= form.hidden_field :student_ids, :value => @school.student_ids %>
  <p>
    <%= form.submit %>
  </p>
<% end %>